#about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 5vh;
    background-color: rgb(20, 120, 200);
    color: rgb(0, 0, 0);
    border-radius: 3rem;
    text-align: center;
}

#about_us ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 5vw;
    text-align: left;
}

section p {
    text-align: justify;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
}
.cta button {
    margin: 25px 0;
    display: flex;
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
  }
  .cta button:hover {
    box-shadow: 0 0 15px rgb(150, 150, 150), 0 0 30px rgb(150, 150, 150);
  }

@media (min-width: 1080.1px) and (max-width: 1440px) {
    #about_us {
        margin-top: 80px;
    }
}

@media (min-width: 680.1px) and (max-width: 1080px) {
    #about_us {
        padding: 0 10vw;
        margin-top: 80px;
    }
}

/* --- MOBILE Devices --- */
@media (max-width: 680px) {
    #about_us {
        padding: 0 5vw;
        margin-top: 60px;
    }
}