#catalogue {
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}


#catalogue > div {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#catalogue section:not(.media-container) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 3px solid white;
  border-radius: 50px;
  padding: 1.5rem 0;
}

/* --- Promo Video Part --- */

.video-loop {
  width: 100%;
  height: auto;
}

/* --- Selecting Models Part --- */

.selectFrame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-inline-start: 0;
}

.selectFrame > :hover {
  transform: scale(1.1);
}

.selectFrame > * {
  padding: 0.5rem 0;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.fa-ban {
  border-radius: 50px;
  font-size: 3rem;
}
.selectFrame ul {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.selectFrame h3,
.selectFrame ul {
  margin: 0 0.5rem;
}

.selectFrame img {
  height: 2.5rem;
  width: auto;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
}

.selectFrame img:hover {
  transform: scale(1.2);
}

/* Model Image */

#catalogue section > img {
  max-height: 40vh;
  max-width: 90vw;
}

@media (max-width: 1150px) {
  #catalogue > div {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .selectFrame {
    gap: 0.5rem;
  }

  .selectFrame > * {
    border-radius: 20px;
  }
  .fa-ban {
    margin-right: 0.5rem;
  }
  .selectFrame ul {
    gap: 0.35rem;
  }
  .selectFrame h3,
  .selectFrame ul {
    margin: 0 0.5rem;
  }
  
  .selectFrame img {
    height: 2.2rem;
  }
}

@media (max-width: 400px) {
  .selectFrame {
    gap: 0.35rem;
  }

  .selectFrame > * {
    border-radius: 15px;
  }
  .fa-ban {
    margin-right: 0;
    font-size: 2rem;
  }
  .selectFrame ul {
    gap: 0.15rem;
  }
  
  .selectFrame img {
    height: 1.8rem;
  }
  .selectFrame h3,
  .selectFrame ul {
    margin: 0 0.25rem;
  }
}

/* --- Selecting Models Part --- */
