#fixed header,
#fixed .text {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

#fixed .video-loop {
    width: 100%;
    max-width: 500px;
    border: 3px solid white;
    border-radius: 50px;
}

.catalogue > div {
    max-width: 1200px;
  }

#fixed  .promo {
    border: none;
    border-radius: 0;

  }