/* --- PC Devices --- */

/* Main (Parent) Frame */

.header {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

/* Logo */

.logo-frame {
  width: 20%;
  height: auto;
  max-width: 200px;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-frame #logo {
  z-index: 10;
  width: 100%;
}

/* Pages Span Section */
#menu-icon {
  display: none;
}

.pages_frame {
  width: 100%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  flex-grow: 1;
}

#menu-icon {
  width: 60px;
}

.pages_frame > .dropdownMenu {
  gap: inherit;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.pages_frame > .dropdownMenu > img {
  width: 100%;
  height: 100%;
}

.header span {
  cursor: pointer;
}

.pages_frame span {
  transition: all 0.3s ease-in-out;
}

/* Dropdown */

.dropdownTrigger #dropdown-arrow {
  height: 0.6em;
}

.dropdownTrigger > .dropdownMenu {
  display: none;
  position: absolute;
  background: rgb(60, 60, 60);
  width: 240px;
  white-space: nowrap;
  border-radius: 1em;
  box-shadow: 0.75em 0.5em 5px rgba(80, 80, 80, 0.8);
}

.dropdownTrigger > .dropdownMenu a {
  padding: 0.5em 1em;
  display: block;
  border-radius: 1em;
}

.dropdownTrigger:hover > .dropdownMenu {
  display: block;
}

/* --- TABLET Devices --- */
@media (min-width: 1081px) and (max-width: 1440px) {
  /* Frames */
  .header {
    padding: 20px;
  }

  .logo-frame {
    max-width: 100px;
    width: 15%;
    margin-right: 3%;
  }

  .pages_frame {
    padding-right: 0;
    gap: 35px;
  }

  .dropdownTrigger > .dropdownMenu {
    width: 200px;
  }
}

@media (min-width: 721px) and (max-width: 1080px) {
  /* Frames */
  .header {
    padding: 20px;
  }

  .logo-frame {
    max-width: 80px;
    width: 15%;
  }

  .pages_frame {
    padding-right: 0;
    gap: 20px;
  }

  .dropdownTrigger > .dropdownMenu {
    width: 160px;
  }
}

@media (min-width: 551px) and (max-width: 720px) {
  /* Frames */
  .header {
    padding: 15px;
  }

  .logo-frame {
    max-width: 60px;
    width: 15%;
  }

  .pages_frame {
    padding-right: 0;
    gap: 12px;
  }

  .dropdownTrigger > .dropdownMenu {
    width: 130px;
  }
}

/* --- MOBILE Devices --- */
@media (max-width: 550px) {
  .header {
    flex-direction: row-reverse;
    padding: 20px;
  }

  /* -- Logo -- */

  .logo-frame {
    margin-right: 0;
    padding: 2%;
    transition: all 0.3s ease-in-out;
  }

  .logo-frame:hover {
    padding: 2%;
    padding: 0;
    transition: all 0.6s ease-in-out;
  }

  /* -- DROPDOWN Primary -- */

  #menu-icon {
    cursor: pointer;
    display: flex;
    width: 20%;
    padding: 2%;
    transition: all 0.3s ease-in-out;
  }

  #menu-icon:hover {
    cursor: pointer;
    display: flex;
    padding: 0;
    transition: all 0.6s ease-in-out;
    opacity: 0.6;
  }

  .pages_frame {
    gap: 0;
    padding-right: 0;
    justify-content: left;
  }

  .pages_frame > .dropdownMenu {
    display: none;
    position: absolute;
    top: 84px;
    background: rgb(60, 60, 60);
    box-shadow: 0.75em 0.5em 5px rgba(80, 80, 80, 0.8);
    z-index: 5;
    border-radius: 2em;
    flex-grow: 1;
  }

  .pages_frame > .dropdownMenu > * {
    padding: 1em 2em;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
  }

  .dropdownTrigger {
    display: block;
  }

  .pages_frame > .dropdownMenu > a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pages_frame > .dropdownMenu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* -- DROPDOWN Secondary -- */

  .dropdownTrigger > .dropdownMenu {
    width: 130px;
    box-shadow: 0.75em 0.5em 5px rgba(80, 80, 80, 0.8);
  }

  /* Center Button */

  .pages_frame button {
    margin: auto;
    padding: 0.75em 1.5em;
  }
}
