@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 18px;
    font-family: 'Poppins';
}

body {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}

button {
    font-family: 'Poppins';
    padding: 0.5em 1.5em;
    text-align: center;
    border-radius: 1em;
    cursor: pointer;
}

button:hover,
button:active {
    transition: all 0.4s ease-in-out;
    opacity: 0.6;
}

span:hover,
span:active {
    font-size: 1.3rem;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin: 0.5em 0;
    font-size: 2rem;
}

button,
span {
    font-size: 1rem;
}

p {
    margin: 5px 0;
    font-size: 1rem;
}

h1,
h2,
h3 {
    font-weight: 600;
}

span {
    font-weight: 500;
}

a {
    color: inherit;
}

menu,
ol,
ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    gap: 0.5em;
}

@media (min-width: 1080.1px) and (max-width: 1440px) {
    html {
        font-size: 16px;
    }

    span:hover,
    span:active {
        font-weight: 600;
    }
}

@media (min-width: 680.1px) and (max-width: 1080px) {
    html {
        font-size: 14px;
    }

    span:hover,
    span:active {
        font-weight: 600;
    }
}

@media (max-width: 680px) {
    html {
        font-size: 12px;
    }

    span:hover,
    span:active {
        font-weight: 600;
    }
}

img,
span,
button,
input,
select {
    -webkit-tap-highlight-color: transparent;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    background: none;
    -webkit-font-smoothing: antialiased;
}