.singleCatalogue header,
.singleCatalogue .text {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.singleCatalogue header p {
  text-align: center;
}

.singleCatalogue .video-loop {
    max-height: 50vh;
    width: fit-content;
    border: 3px solid white;
    border-radius: 35px;
}


.singleCatalogue  .promo {
    border: none;
    border-radius: 0;
    padding: 0;
  }

