.singleCatalogue header,
.singleCatalogue .text {
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.singleCatalogue header p {
    text-align: center;
}

.singleCatalogue .promo {
    border: none;
    border-radius: 0;
    padding: 0;
}

.singleCatalogue .video-loop {
    border: 3px solid #ffffff;
    border-radius: 30px;
    height: 500px;
}